<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Telex" rel="stylesheet">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style-daily.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>     
<body>

<h2>LCSle Daily</h2>
<h3>An LCS Wordle-like by <a href="https://www.ftick.github.io">ftick</a></h3>
I'm thinking of an LCS Player. Guess which! You have {{attempts}} guesses left today. <div class="tooltip">Emoji Key<span class="tooltiptext">🟩: Correct guess<br>🟥: Incorrect Guess<br>🟨: Type in wrong position<br>🔼: Guessed too low<br>🔽: Guessed too high</span></div>
<br>(Updates @ 00:00 GMT-10)
<br><br>
{% if data|length > 0 %}
<div class="guesses">
    <div class="row">
        {% for hint in ["Gen", "Type 1", "Type 2", "Height", "Weight", "Guess"] %}
        <div class='column'>
            <p class="hint">{{hint}}</p>
        </div>
        {% endfor %}
    </div>
    
    {% for x in data %}
        <div class="row">
        {% for hint in ["Gen", "Type 1", "Type 2", "Height", "Weight", "Guess"] %}
              <div class='column'>
              {% if hint == "Guess" %}
              <div class="tooltip"><p class=guess>{{x[hint]}}</p>
                <span class="tooltiptext">{{x["pokeinfo"] | safe}}</span>
              </div>
              {% else %}
                {% if x[hint] == "🟩" %}
                <img class=emoji src="{{url_for('static', filename='correct.png') }}">
                {% endif %}
                {% if x[hint] == "🟥" %}
                <img class=emoji src="{{url_for('static', filename='wrong.png') }}">
                {% endif %}
                {% if x[hint] == "🟨" %}
                <img class=emoji src="{{url_for('static', filename='wrongpos.png') }}">
                {% endif %}
                {% if x[hint] == "🔼" %}
                <img class=emoji src="{{url_for('static', filename='up.png') }}">
                {% endif %}
                {% if x[hint] == "🔽" %}
                <img class=emoji src="{{url_for('static', filename='down.png') }}">
                {% endif %}
              {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div><br>
{%endif%}

{% if gameOver == 0 %}
{% if error %}
Player not found!
{% endif %}
<form autocomplete="off" method="POST">
  <div class="autocomplete">
    <input id="guess" type="text" name="guess" placeholder="Player Name">
  </div>
  <input type="submit" value="Submit">
</form>
{% endif %}
{% if gameOver == 1 %}
You won!
{% endif %}
{% if gameOver == 2 %}
You lost!
{% endif %}
{% if gameOver > 0 %}
The secret Pokémon was <b>{{secret}}</b>!<br>
<a class="togglec" onclick="copyCurrentDay('{{mosaic|safe}}')" href="#">📄 Share</a>
<a class="togglec" onclick="copyCurrentDay('{{mosaic_names|safe}}')" href="#">👀 Share w/names</a><br>
Generation hint arrows are obscured in daily<br>mosaics to avoid spoiling other players!<br><br>
Come back tomorrow for another daily!
{% endif %}
<br><a href="{{ url_for('index') }}">Back to regular Squirdle!</a>

<script>
var player = {{player | safe}};
autocomplete(document.getElementById("guess"), player);
</script>

</body>
</html>
