<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Telex" rel="stylesheet">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>     
<body>

<h2>Worldsle</h2>
<h3>A LoL Worlds Wordle-like by <a href="https://github.com/ftick">ftick</a></h3>
I'm thinking of a Pro Player who competed at Worlds between {{minYear}} and {{maxYear}}. Guess who! You have {{attempts}} guesses. <div class="tooltip">Emoji Key<span class="tooltiptext">🟩: Correct guess<br>🟥: Incorrect Guess<br>🔼: Guessed too low<br>🔽: Guessed too high</span></div>

<br><br>
{% if data|length > 0 %}
<div class="guesses">
    <div class="row">
        {% for hint in ["Debut", "Region", "Team", "Role", "Games Played", "Kills", "Guess"] %}
        <div class='column'>
            <p class="hint">{{hint}}</p>
        </div>
        {% endfor %}
    </div>
    
    {% for x in data %}
        <div class="row">
        {% for hint in ["Debut", "Region", "Team", "Role", "Games Played", "Kills", "Guess"] %}
              <div class='column'>
              {% if hint == "Guess" %}
              <div class="tooltip"><p class=guess>{{x[hint]}}</p>
                <span class="tooltiptext">{{x["playerinfo"] | safe}}</span>
              </div>
              {% else %}
                {% if x[hint] == "🟩" %}
                <img class=emoji src="{{url_for('static', filename='correct.png') }}">
                {% endif %}
                {% if x[hint] == "🟥" %}
                <img class=emoji src="{{url_for('static', filename='wrong.png') }}">
                {% endif %}
                {% if x[hint] == "🔼" %}
                <img class=emoji src="{{url_for('static', filename='up.png') }}">
                {% endif %}
                {% if x[hint] == "🔽" %}
                <img class=emoji src="{{url_for('static', filename='down.png') }}">
                {% endif %}
              {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div><br>
{%endif%}

{% if gameOver == 0 %}
{% if error %}
Player not found!
{% endif %}
<form autocomplete="off" method="POST">
  <div class="autocomplete">
    <input class="guess_input" id="guess" type="text" name="guess" placeholder="Player Name">
  </div>
  <input class="guess_input" type="submit" value="Submit">
</form><br>
{% endif %}
{% if gameOver == 1 %}
You won!
{% endif %}
{% if gameOver == 2 %}
You lost!
{% endif %}
{% if gameOver > 0 %}
<div style="display: flex; align-items: center; flex-direction: column;">
  <div class="row-answer">
    The secret player was 
    <div class="tooltip" style="margin-left: 4px"><p class=guess><b>{{secret}}</b><br></p>
      <span class="tooltiptext">{{secretinfo}}</span>
    </div>
    !
  </div>
</div>
<a class="togglec" onclick="copyCurrentDay('{{mosaic|safe}}')" href="#">📄 Share</a>
<a class="togglec" onclick="copyCurrentDay('{{mosaic_names|safe}}')" href="#">👀 Share w/names</a><br>
{% endif %}

<form action="{{ url_for('index', clear=True) }}" method="GET">
  <input type="hidden" name="clear" value="1" /> 
  <button class="togglec" type="submit" name="Gen" value="8">▶️ New Game</button><br>
  <label for="quantity">Guess Players from Worlds</label>
  <input class="mg_input" type="number" id="minyear" name="minyear" min="2011" max="2021" value="{{minYear}}" oninput="validity.valid||(value='');">
  <label for="quantity">to</label>
  <input class="mg_input" type="number" id="maxyear" name="maxyear" min="2011" max="2021" value="{{maxYear}}" oninput="validity.valid||(value='');"><br><br>
</form>
<br><a href="{{ url_for('daily') }}">Try Daily Worldsle!</a>

<script>

var player = {{player | safe}};
autocomplete(document.getElementById("guess"), player);
</script>

</body>
</html>
